/* CSS goes here */


.au-header.au-header--dark {
    color: #fff;
    background-color: #646974;

}


.au-header.au-header--dark:after {
    background-image: ../header-bottom.svg; 
    width:100%;
    height:100px;
    content:"text-goes-here"



}
.au-footer.au-footer--dark {
    color: #fff;
    border-color: #990009;
    background-color: #646974;
} 

.au-page-alerts {
    padding-left:2rem !important;
}

