/* CSS goes here */


.au-header.au-header--dark {
    color: #fff;
    background-color: #646974;

}



.au-footer.au-footer--dark {
    color: #fff;
    border-color: #990009;
    background-color: #646974;
} 

.au-page-alerts {
    padding-left:2rem !important;
}

