/* CSS goes here */

body {
  overflow:hidden;
}



.au-header.au-header--dark {
    color: #fff;
    background-color: #646974;
    width:115%;
  top:5%;
  left:5%;
  transform:rotate(-2deg);
  margin-top: -40px;
  margin-left: -20px;
  paddin-top:5.5rem;
}


.au-header__brand {
  transform:rotate(2deg);
}


.au-footer.au-footer--dark {
    color: #fff;
    border-color: #990009;
    background-color: #646974;
} 

.au-page-alerts {
    padding-left:2rem !important;
}

